This is <%= @foo %>
<br>
<br>
<p>Inspections per Hours (24 hour clock)</p>
<%= @hourBreakdown %>
<hr>
<p>Inspection per week number (53 weeks - Week 1 starts on first Sunday of year. Any inspections before the first Sunday of the year falls into week 0)</p>
<%= @weekBreakdown %>
<hr>
<p>Inspections Per Month</p>
<%= @monthBreakdown %>
<hr>
<p>Inspections per Day of Week</p>
<%= @dayOfWeekBreakdown %>