This is <%= @foo %>
<br>
<br>
<p>Inspections per Hours (24 hour clock)</p>
<%= @hourBreakdown %>
<hr>
<p>Inspection per week number (52 weeks)</p>
<%= @weekBreakdown %>
<hr>
<p>Inspections Per Month</p>
<%= @monthBreakdown %>
<hr>
<p>Inspections per Day of Week</p>
<%= @dayOfWeekBreakdown %>